BULLHORN_CLIENT_ID=
BULLHORN_CLIENT_SECRET=
BULLHORN_USERNAME=
BULLHORN_PASSWORD=
BULLHORN_AUTH_BASE_URL=https://rest.bullhornstaffing.com
BULLHORN_API_BASE_URL=
BULLHORN_REDIRECT_URI=http://api-oauth2.northeurope.cloudapp.azure.com
BULLHORN_API_VERSION=*
LOOKBACK_HOURS=60
DRY_RUN=true
TEST_CANDIDATE_ID=2923234
