BULLHORN_CLIENT_ID=
BULLHORN_CLIENT_SECRET=
BULLHORN_USERNAME=
BULLHORN_PASSWORD=
BULLHORN_AUTH_BASE_URL=https://rest.bullhornstaffing.com
BULLHORN_API_BASE_URL=
BULLHORN_REDIRECT_URI=http://api-oauth2.northeurope.cloudapp.azure.com
BULLHORN_API_VERSION=*
LOOKBACK_HOURS=60
CLIENT_CORPORATION_360_CUTOFF_DATE=2023-12-01
CLIENT_CORPORATION_360_DELAY_HOURS=24
CLIENT_CORPORATION_KEY_ACCOUNT_CUTOFF_DATE=2024-01-01
CLIENT_CORPORATION_KEY_ACCOUNT_DELAY_HOURS=24
DRY_RUN=true
TEST_CANDIDATE_ID=2923234
TEST_CLIENT_CORPORATION_ID=
PLACEMENT_EVENT_SUBSCRIPTION_ID=sense-placement-status-sync
PLACEMENT_EVENT_MAX_EVENTS=100
PLACEMENT_START_REMINDER_DAYS_AHEAD=4
PLACEMENT_START_REMINDER_QUERY_COUNT=200
PLACEMENT_START_REMINDER_WINDOW_BEFORE_DAYS=0
PLACEMENT_START_REMINDER_WINDOW_AFTER_DAYS=0
SPARKPOST_API_BASE_URL=https://api.sparkpost.com
SPARKPOST_API_KEY=
SPARKPOST_TEMPLATE_ID=
AZURE_TABLE_STORAGE_CONNECTION_STRING=
AZURE_TABLE_STORAGE_TABLE_NAME=WorkflowRunLogs
DAILY_SUMMARY_RECIPIENT_EMAIL=
DAILY_SUMMARY_FROM_EMAIL=
AZURE_DAILY_WORKFLOW_SUMMARY_SCHEDULE=0 55 23 * * *
RETRY_MAX_ATTEMPTS=4
RETRY_BASE_DELAY_MS=500
UPDATE_DELAY_MS=150
